
<body id="top">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="app/assets/images/zentimer-logo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#tutorial">Tutorial</a>
        </ul>
      </div>
    </div>
  </nav>

  <div id="timer-box" class="jumbotron text-center">
    <div id="headline"><h1>Clear Your Mind with ZenTimer</h1></div>
      <div id="timer">
            <div id="countdown">
              <span class="timerSpan"></span>
            </div>
            <div id="time-select">
              <div id="time-select-spans">
                <span class="numbers"></span>
                <span class="ion-ios-plus"></span>
                <span class="ion-ios-minus"></span>
                <span id="start" class="ion-arrow-right-b"></span>
              </div>
              <div id="reset">Reset</div>
          </div>
      </div>
  </div>

  <div id="tutorial" class="text-center container-fluid">
    <h1>Learn More</h1>
    <div class="row">
      <div class="mindfulness col-md-6">
        <h2>What is Mindfulness, anyway?</h2>
        <p>Flannel butcher authentic, fanny pack kinfolk freegan raclette. Fingerstache drinking vinegar enamel pin chicharrones. Helvetica heirloom snackwave tofu four loko. Synth heirloom small batch banjo, tousled pinterest bitters raclette flannel hammock. Kickstarter post-ironic fam lyft tacos beard humblebrag. Craft beer selvage photo booth, tilde semiotics chia +1 mlkshk meditation fanny pack chartreuse hot chicken DIY. Messenger bag lomo butcher heirloom 8-bit tousled.</p>
        <p>Marfa 8-bit poke post-ironic whatever, lomo subway tile banjo pour-over mumblecore vape taxidermy live-edge synth. Franzen celiac twee tilde. Hell of enamel pin XOXO hashtag tilde fashion axe, pug lo-fi asymmetrical tumblr mustache. Aesthetic la croix green juice coloring book, hoodie pinterest gastropub jianbing etsy umami cardigan. Raw denim hexagon occupy affogato slow-carb cliche. Master cleanse iPhone readymade fam meggings. Blog ethical vinyl, man bun knausgaard cred craft beer trust fund air plant fashion axe single-origin coffee raclette.</p>
      </div>
      <div class="first-time col-md-6">
        <h2>How To Do Your First Meditation</h2>
        <p>Flannel butcher authentic, fanny pack kinfolk freegan raclette. Fingerstache drinking vinegar enamel pin chicharrones. Helvetica heirloom snackwave tofu four loko. Synth heirloom small batch banjo, tousled pinterest bitters raclette flannel hammock. Kickstarter post-ironic fam lyft tacos beard humblebrag. Craft beer selvage photo booth, tilde semiotics chia +1 mlkshk meditation fanny pack chartreuse hot chicken DIY. Messenger bag lomo butcher heirloom 8-bit tousled.</p>
        <p>Marfa 8-bit poke post-ironic whatever, lomo subway tile banjo pour-over mumblecore vape taxidermy live-edge synth. Franzen celiac twee tilde. Hell of enamel pin XOXO hashtag tilde fashion axe, pug lo-fi asymmetrical tumblr mustache. Aesthetic la croix green juice coloring book, hoodie pinterest gastropub jianbing etsy umami cardigan. Raw denim hexagon occupy affogato slow-carb cliche. Master cleanse iPhone readymade fam meggings. Blog ethical vinyl, man bun knausgaard cred craft beer trust fund air plant fashion axe single-origin coffee raclette.</p>
    </div>
  </div>
</div>
